.grid {
    border-collapse: collapse;
    user-select: none;
    font-family: Arial;
}

.grid td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.grid td.selected {
    background-color: #999 !important;
}

.grid td.highlighted {
    background-color: #ccc;
}

.grid td.black {
    background-color: black;
}

.grid td.incorrect {
    color: red;
}
