.grid {
    border-collapse: collapse;
    user-select: none;
    font-family: Arial;
    background-color: white;
    margin: auto;
    width: 100%;
    color: black;

    table-layout: fixed;
}

.grid td {
    border: 1px solid black;
    text-transform: uppercase;
}

.grid td>div {
    aspect-ratio: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid td.selected {
    background-color: #999 !important;
}

.grid td.highlighted {
    background-color: #ccc;
}

.grid td.black {
    background-color: black;
}

.grid td.incorrect {
    color: red;
}

.grid-definition {
    background-color: black;
    padding: 12px;
}

.grid-definition p {
    margin: 0;
    color: white;
    text-align: center;
}
